<!-- <div class="matches-tennis__ligue" data-ligue="{{month}}">
	<div class="matches-tennis__ligue-head">
		<div class="matches-tennis__ligue-block">
			<div class="matches-tennis__ligue-title">
				<span class="matches-tennis__ligue-month">{{formatMonth month}}</span>
			</div>
		</div>
	</div>

	<div class="matches-tennis__ligue-content">
		{{#each tournaments}}
		<div class="matches-tennis__item" data-tournament_id="{{id}}">
			<div class="matches-tennis__item-block">
				<div class="matches-tennis__item-img">
					<img src="{{tournament.logo}}" alt="{{getLocalizedName names}}" />
				</div>

				<div class="matches-tennis__item-title">
					<a href="/statistics/tennis/{{category.slug}}/{{slug}}/" class="matches-tennis__ligue-competition">
						<span>{{getLocalizedName names}}</span>
					</a>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div> -->
