<div class="matches-tennis__ligue" data-ligue="{{tournamentId}}" pinned="{{pinned}}">
	<div class="matches-tennis__ligue-head">
		<div class="matches-tennis__ligue-block">
			<div class="matches-tennis__ligue-fav">
				<div class="fav addligue">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M9.82028 2.77976C9.89346 2.6304 10.1064 2.63042 10.1795 2.77978L12.3994 7.3127C12.4284 7.37188 12.4847 7.41299 12.5499 7.4226L17.5184 8.15443C17.6819 8.17851 17.7473 8.37927 17.6293 8.49503L14.0329 12.0249C13.9861 12.0707 13.9648 12.1366 13.9758 12.2012L14.8243 17.1859C14.8521 17.3495 14.6801 17.4739 14.5334 17.3962L10.0936 15.0435C10.035 15.0125 9.96485 15.0125 9.90628 15.0435L5.4664 17.3962C5.31976 17.4739 5.14774 17.3495 5.17559 17.1859L6.02404 12.2012C6.03503 12.1366 6.01371 12.0707 5.96697 12.0249L2.37051 8.49503C2.25256 8.37926 2.31795 8.17851 2.48146 8.15442L7.44911 7.4226C7.5143 7.41299 7.57058 7.37189 7.59957 7.31272L9.82028 2.77976Z"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
			</div>

			<div class="matches-tennis__ligue-img">
				<img src="{{tournament.logo}}" alt="{{getLocalizedName tournament.names}}" />
			</div>

			<div class="matches-tennis__ligue-title">
				<span>{{getLocalizedName tournament.category.names}} - {{matchType tournament.type}}</span>
				<span class="colon">:</span>

				<a
					href="/statistics/tennis/{{tournament.category.slug}}/{{tournament.slug}}/"
					class="matches-tennis__ligue-competition"
				>
					<span>{{getLocalizedName tournament.names}}</span>
				</a>
			</div>

			<div class="matches-tennis__ligue-pin">
				<div class="pin {{isPinned tournamentId}}" data-competition_id="{{tournamentId}}">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M12.5576 4.39259L15.6069 7.44185C15.8908 7.7258 16.0325 8.1221 15.993 8.52171C15.9534 8.92132 15.7367 9.28214 15.4026 9.50489L13.1731 10.9913C12.8956 11.1762 12.6971 11.4579 12.6162 11.7814L11.6886 15.4918C11.63 15.7261 11.45 15.9107 11.2173 15.9752C10.9846 16.0396 10.7353 15.9739 10.5645 15.8032L4.1963 9.43495C4.02558 9.26422 3.95988 9.01485 4.02433 8.78216C4.08879 8.54948 4.27342 8.36945 4.50766 8.31089L8.21807 7.38327C8.54155 7.3024 8.82327 7.10386 9.00823 6.82643L10.4946 4.59688C10.7173 4.26275 11.0782 4.0461 11.4778 4.00653C11.8774 3.96696 12.2737 4.10864 12.5576 4.39259Z"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path d="M4 15.9981L7.38087 12.6172" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
			</div>
		</div>

		<div class="matches-tennis__ligue-control">
			<a
				class="matches-tennis__ligue-table"
				href="/statistics/tennis/{{tournament.category.slug}}/{{tournament.slug}}/standings/"
			>
				<span>{{t 'net'}}</span>
			</a>

			<div class="matches-tennis__ligue-hide hidden">
				<span>{{t 'show'}}</span>

				<div class="matches-tennis__ligue-arrow"></div>
			</div>
		</div>
	</div>

	<div class="matches-tennis__ligue-content">
		{{#each matches}}
		<a href="/statistics/tennis/match/{{this.id}}/">
			<div class="matches-tennis__item {{statusClass status_id}}" data-match_id="{{id}}">
				<div class="matches-tennis__item-block">
					<div class="matches-tennis__item-fav" onclick="event.stopPropagation();">
						<div class="fav addfav">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M9.82028 2.77976C9.89346 2.6304 10.1064 2.63042 10.1795 2.77978L12.3994 7.3127C12.4284 7.37188 12.4847 7.41299 12.5499 7.4226L17.5184 8.15443C17.6819 8.17851 17.7473 8.37927 17.6293 8.49503L14.0329 12.0249C13.9861 12.0707 13.9648 12.1366 13.9758 12.2012L14.8243 17.1859C14.8521 17.3495 14.6801 17.4739 14.5334 17.3962L10.0936 15.0435C10.035 15.0125 9.96485 15.0125 9.90628 15.0435L5.4664 17.3962C5.31976 17.4739 5.14774 17.3495 5.17559 17.1859L6.02404 12.2012C6.03503 12.1366 6.01371 12.0707 5.96697 12.0249L2.37051 8.49503C2.25256 8.37926 2.31795 8.17851 2.48146 8.15442L7.44911 7.4226C7.5143 7.41299 7.57058 7.37189 7.59957 7.31272L9.82028 2.77976Z"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</div>
					</div>

					<div class="matches-tennis__item-time">{{{matchTimeOrBreak this.id}}}</div>

					<div class="matches-tennis__item-rivals">
						<!-- Домашняя команда -->
						<div
							class="matches-tennis__item-team {{isBall serving_side 1}} {{winnerClass this.scores.ft.[0] this.scores.ft.[1]}}"
						>
							<div class="matches-tennis__item-team-block-pair">
								{{#if (hasSubs this.homeTeam.subs)}}
								<!-- Если есть subs (двойная команда) -->
								{{#each this.homeTeam.subs}}
								<div class="matches-tennis__item-team-item">
									<div class="matches-tennis__item-img">
										{{#if this.country.logo}}
										<img src="{{this.country.logo}}" alt="{{getLocalizedName this.names}}" />
										{{else}}
										<img src="../../src/img/world.svg" />
										{{/if}}
									</div>
									<span>{{getLocalizedName this.names}}</span>
								</div>
								{{/each}} {{else}}
								<!-- Если нет subs (одиночная команда) -->
								<div class="matches-tennis__item-team-item">
									<div class="matches-tennis__item-img">
										{{#if this.homeTeam.country.logo}}
										<img src="{{this.homeTeam.country.logo}}" alt="{{getLocalizedName this.homeTeam.names}}" />
										{{else}}
										<img src="../../src/img/world.svg" />
										{{/if}}
									</div>
									<span>{{getLocalizedName this.homeTeam.names}}</span>
								</div>
								{{/if}}
							</div>

							<div class="matches-tennis__item-team-block">
								<div class="matches-tennis__item-set">
									<span>{{t 'set'}}</span>
								</div>
								<div class="matches-tennis__item-ball">
									<span></span>
								</div>
							</div>
						</div>

						<!-- Гостевая команда -->
						<div
							class="matches-tennis__item-team {{isBall serving_side 2}} {{winnerClass this.scores.ft.[1] this.scores.ft.[0]}}"
						>
							<div class="matches-tennis__item-team-block-pair">
								{{#if (hasSubs this.awayTeam.subs)}}
								<!-- Если есть subs (двойная команда) -->
								{{#each this.awayTeam.subs}}
								<div class="matches-tennis__item-team-item">
									<div class="matches-tennis__item-img">
										{{#if this.country.logo}}
										<img src="{{this.country.logo}}" alt="" />
										{{else}}
										<img src="../../src/img/world.svg" />
										{{/if}}
									</div>
									<span>{{getLocalizedName this.names}}</span>
								</div>
								{{/each}} {{else}}
								<!-- Если нет subs (одиночная команда) -->
								<div class="matches-tennis__item-team-item">
									<div class="matches-tennis__item-img">
										{{#if this.awayTeam.country.logo}}
										<img src="{{this.awayTeam.country.logo}}" alt="" />
										{{else}}
										<img src="../../src/img/world.svg" />
										{{/if}}
									</div>
									<span>{{getLocalizedName this.awayTeam.names}}</span>
								</div>
								{{/if}}
							</div>

							<div class="matches-tennis__item-team-block">
								<div class="matches-tennis__item-set">
									<span>{{t 'set'}}</span>
								</div>
								<div class="matches-tennis__item-ball">
									<span></span>
								</div>
							</div>
						</div>
					</div>

					<div class="matches-tennis__item-score-list">
						<div class="matches-tennis__item-score-item matches-tennis__item-score-item--home">
							<div class="matches-tennis__item-score-total">
								{{#if (isMatchLive status_id)}}
								<span>{{scores.ft.[0]}}</span>
								{{else if (isMatchEnded status_id)}}
								<span>{{scores.ft.[0]}}</span>
								{{else }}
								<span>-</span>
								{{/if}}
							</div>
							{{#each scores}} {{#if (hasP @key)}} {{#if (isNotEmpty this)}}
							<span class="matches-tennis__item-score-span">
								{{this.[0]}}
								<span>{{extra @key 0 ../scores}}</span>
							</span>
							{{/if}} {{/if}} {{/each}}
						</div>
						<div class="matches-tennis__item-score-item matches-tennis__item-score-item--away">
							<div class="matches-tennis__item-score-total">
								{{#if (isMatchLive status_id)}}
								<span>{{scores.ft.[1]}}</span>
								{{else if (isMatchEnded status_id)}}
								<span>{{scores.ft.[1]}}</span>
								{{else }}
								<span>-</span>
								{{/if}}
							</div>
							{{#each scores}} {{#if (hasP @key)}} {{#if (isNotEmpty this)}}
							<span class="matches-tennis__item-score-span">
								{{this.[1]}}
								<span>{{extra @key 1 ../scores}}</span>
							</span>
							{{/if}} {{/if}} {{/each}}
						</div>
					</div>

					<div class="matches-tennis__item-score-now">
						{{#if (isMatchLive status_id)}}
						<span>{{or scores.pt.[0] 0}}</span>
						<span>{{or scores.pt.[1] 0}}</span>
						{{/if}}
					</div>
				</div>

				<div class="matches-tennis__item-time matches-tennis__item-time--ended">{{finishedMatchTime this.id}}</div>
			</div>
		</a>
		{{/each}}
	</div>
</div>
