<div class="row skel">
	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell team-name">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<div class="form-icons skeleton"></div>
	</div>
</div>

<div class="row skel">
	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell team-name">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<div class="form-icons skeleton"></div>
	</div>
</div>

<div class="row skel">
	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell team-name">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<div class="form-icons skeleton"></div>
	</div>
</div>

<div class="row skel">
	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell team-name">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<span class="skeleton"></span>
	</div>

	<div class="cell">
		<div class="form-icons skeleton"></div>
	</div>
</div>