.blue-popup {
    position: fixed;
    top: -100%;
    left: 57.5%;
    transform: translate(-50%, 0);
    z-index: 30;
    background: $black;
    border: 0.063rem solid $black ;
    border-radius: $border_radius;
    width: 48rem;
    padding: 0.438rem 1.188rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    box-shadow: 0.063rem -0.063rem 1.75rem 0.563rem rgba(0,0,0,0.43);
-webkit-box-shadow: 0.063rem -0.063rem 1.75rem 0.563rem rgba(0,0,0,0.43);
-moz-box-shadow: 0.063rem -0.063rem 1.75rem 0.563re rgba(0,0,0,0.43);
    @include media(mobile) {
        width: 22rem;
        padding: 1rem;
        display: none !important;
    }

    &.collapsed {
        width: 55rem;
        left: 53%;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include media(mobile) {
            position: relative;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }

    &__visible {
        top: 10%;
        opacity: 1;

        &.hide {
            top: -100%;
            opacity: 0;
        }
    }

    &__img {
        width: 5.625rem;
        height: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 1rem;
        color: $white;
        line-height: 1.221rem;
        width: 23rem;
        @include media(mobile) {
            width: 100%;
            text-align: center;
        }
    }

    &__link {
        background: $white;
        color: $black;
        border-radius: $border_radius;
        font-weight: 500;
        text-align: center;
        line-height: 1.068rem;
        font-size: 0.875rem;
        transition: all 0.3s ease-in-out;
        padding: 0.688rem 1.125rem;
        white-space: nowrap;

        @include media(mobile) {
            width: 100%;
        }

        &:hover {
            background: $yellow;
            color: $black;
        }
    }

    &__cancel {
        width: 1rem;
        height: 1rem;
        cursor: pointer;

        @include media(mobile) {
            position: absolute;
            top: 0;
            right: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
