.cookie-popup {
    position: fixed;
    bottom: 2rem;
    display: none;
    z-index: 500;
    right: 2rem;
    // transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;

    @include media(mobile) {
        right: auto;
        width: 90%;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 5rem;
    }

    &__content {
        background: $white;
        padding: 1rem 1.5rem;
        border-radius: 0.75rem;
        box-shadow: 0 0 0.875rem 0 rgba(0, 0, 0, 0.1);
        text-align: start;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        border: 0.063rem solid $border;
        max-width: 30rem;
        width: fit-content;

        @include media(mobile) {
            padding: 1rem;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: $black;
        margin-bottom: 0.375rem;

        @include media(mobile) {
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
    }

    &__text {
        font-weight: 400;
        line-height: 1.5rem;
        color: $black;
        font-size: 1.125rem;
        margin-bottom: 1rem;

        @include media(mobile) {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }


    &__btn {
        font-weight: 800;

        @include media(mobile) {
            padding: 0.25rem 2.125rem;
            display: inline-block;
            height: auto;
        }
    }

    &__buttons {
        align-items: center;
        display: flex;
        gap: 1.25rem;
        justify-content: center;
        margin: 0 auto;

        @include media(mobile) {
            align-items: stretch;
            gap: 0.75rem;
        }

        .button {
            min-width: 10rem;
            text-align: center;

            @include media(mobile) {
                min-width: 8rem;
            }
        }

    }
}