.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #0F0F0F80;
  z-index: 10;
  backdrop-filter: blur(2rem);
  transition: 0.4s ease;
  opacity: 1 !important;

  @include media(mobile) {
    position: fixed;
    padding: 0.725rem 1rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2.5rem;

    @include media(mobile) {
      padding: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @include media(mobile) {
      display: none;
      gap: 0.625rem;
    }
  }

  .language-switcher {
    display: none;
    position: absolute;
    right: 4rem;
    margin: 0;
  }

  &__search {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.375rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;

    @include media(mobile) {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.collapsed {
      transform: translateX(3rem);

      @include media(mobile) {
        transform: translateX(0);
      }
    }
  }

  &--white {
    background: $white;

    @include media(mobile) {
      border-bottom: 0.063rem solid $border_2;
    }

    .header__burger {
      span {
        background: $black;
        height: 1px;
        min-height: 1px;
        max-height: 1px;
        width: 1rem;
      }

    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__logo {
    &-mobile {
      display: none;
      width: 7.313rem;
      height: 1.75rem;
      transition: 0.4s ease;

      @include media(mobile) {
        display: block;
      }


    }
  }

  &__burger {
    display: none;
    cursor: pointer;
    // width: 1.5rem;
    // height: 1.5rem;
    position: relative;
    padding: 0.313rem;

    @include media(mobile) {
      display: block;
    }

    span {
      display: block;
      background-color: $white;
      height: 1px;
      min-height: 1px;
      max-height: 1px;
      width: 1rem;
      // height: 0.063rem;
      transition: all 0.4s;
      transform-origin: center;

      &:nth-child(1) {
        margin-bottom: 0.188rem;
      }

      &:nth-child(2) {
        margin-bottom: 0.188rem;
      }
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(-50%, -50%);
      background-color: $white;
      margin: 0;
      width: 0.8rem;
      position: absolute;
      top: 100%;
      left: 45%;
    }

    &.active span:nth-child(2) {
      opacity: 0;
      display: none;
    }

    &.active span:nth-child(3) {
      transform: rotate(-48deg) translate(-50%, -50%);
      background-color: $white;
      margin: 0;
      width: 0.8rem;
      position: absolute;
      bottom: 0.53rem;
      left: 49%;
    }
  }

  &__active {
    background: $black;

    .header__buttons {
      display: none;
    }

    .language-switcher {
      display: flex;
      align-items: center;
    }

    .header__search {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(328deg) brightness(106%) contrast(100%);
    }
  }

  &__nav {
    width: 100vw;
    position: absolute;
    top: 100%;
    left: -100%;
    right: 0;
    background-color: $black;
    text-align: center;
    height: 107vh;
    // height: 105vh;
    padding: 1rem;
    opacity: 0;
    transition:
      opacity 0.4s ease-in-out,
      visibility 0.4s ease-in-out;
    z-index: 100;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 0 11rem 0;

    @include media(mobile) {
      display: block;
    }

    &.active {
      display: block;
      opacity: 1;
      left: 0;
    }

    .aside__list {
      padding: 0;
      margin-bottom: 1.375rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .menu-item {
      text-align: start;
      position: relative;
      font-size: 1rem;
      color: $black;
      font-weight: 500;
      line-height: 1.221rem;
      padding: 0.75rem 1rem;
      transition: 0.4s all;
      border-radius: 0.5rem;
      overflow: hidden;
      gap: 0.3rem;
      display: flex;
      align-items: center;

      >span,
      a {
        padding: 0;
      }
    }

    li>.menu-item:hover {
      background: none;
      color: $white;
    }


    .current-menu-parent {
      border-radius: $border_radius;
      background: $yellow;

      &>.menu-item>.menu-item__name {
        color: $black;
      }

      .menu-item-arrow-has-children{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10' fill='none'%3E%3Cpath stroke='%23071424' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1 9 4-4-4-4'/%3E%3C/svg%3E");      }

      &>.menu-item:hover {
        .menu-item__name {
          color: $black !important;
        }

        .menu-icon{
          filter: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(7470%) hue-rotate(95deg) brightness(106%) contrast(107%);
        }
      }

      .menu-icon {
        filter: brightness(0) saturate(100%) invert(0%) sepia(99%) saturate(9%) hue-rotate(324deg) brightness(100%) contrast(100%);
      }
    }


    .current-menu-item {
      border-radius: $border_radius;
      background: $yellow;

      &>a>.menu-item__name {
        color: $black !important;
      }

      &>a:hover {
        .menu-item__name {
          color: $black !important;
        }
      }

      &>.menu-item {

        .menu-item__name {
          color: $black;
        }

        .menu-icon {
          filter: brightness(0) saturate(100%) invert(0%) sepia(99%) saturate(9%) hue-rotate(324deg) brightness(100%) contrast(100%);
        }

      }

    }

    .hover-name {
      display: none;
    }

    .social-medias {
      padding: .75rem 1rem;
    }
  }

  &__freez {
    overflow: hidden;
  }

  //MENU
  @media all and (min-width: 541px) {
    .sub-menu-container-box {
      position: absolute;
      padding-top: 0.59rem;
      left: 0;
      z-index: 30;
      min-width: 10.72rem;
      background-color: transparent;
      opacity: 0;
      top: 0;
      pointer-events: none;
      transition-property: opacity, top;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;

      .sub-menu-container-box {
        left: 100% !important;
        top: -0.4rem !important;
        padding-top: 0;
      }
    }

    .top-menu-nav {
      +.header__button.button {
        display: none;
        outline: none;
      }
    }

    .mob-menu-title,
    .menu-goto-parent,
    .top-menu-background,
    .parent-menu-title {
      display: none;
    }
  }

  //mobile-menu scss
  @media all and (max-width: 541px) {
    .site-top-menu-panel {
      position: fixed;
      z-index: 50;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: translate(101%, 0);
      transition-property: opacity, transform;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
      transition-delay: 200ms;
      pointer-events: none;
      opacity: 0;
      -webkit-transform: translate(101%, 0);
      -moz-transform: translate(101%, 0);
      -ms-transform: translate(101%, 0);
      -o-transform: translate(101%, 0);

      &.opened {
        pointer-events: all;
        transform: translate(0%, 0);
        transition-delay: 0ms;
        opacity: 1;

        .mobile-menu-shell {
          transform: translate(0%, 0);
          transition-delay: 200ms;
        }
      }
    }

    .mobile-menu-shell {
      transform: translate(100%, 0);
      transition-property: opacity, transform;
      transition-duration: 300ms;
      transition-timing-function: ease-out;
      -webkit-transform: translate(100%, 0);
      -moz-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      -o-transform: translate(100%, 0);
    }

    .container.container__header.menu-wrapper {
      max-width: initial;
      width: 100%;
      padding-left: initial;
      padding-right: initial;
      margin-left: initial;
      margin-right: initial;
      position: fixed;
      top: 0;
      left: auto !important;
      right: 0;
      bottom: 0;
      z-index: 2;
      background-color: white;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .sub-menu-parent-title {
      font-size: 1rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      line-height: 1.146rem;
      cursor: pointer;
      outline: 0;
      flex-direction: row;
      justify-content: flex-start;
      white-space: nowrap;
      margin-bottom: 0.625rem;
      gap: 0.889rem;
      width: 100%;
      border-bottom: 0.063rem solid #414142;
    }

    // ---------- Children arrow
    .menu-item-arrow-has-children {
      height: 1rem;
      width: 1rem;
      min-width: 1rem;
      position: absolute;
      right: 1rem;
      top: 32%;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.25' d='m1.5 11.5 5-5-5-5'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .menu-goto-parent {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      gap: 0.444rem;
      padding: 0.75rem;
      white-space: pre-wrap;
      font-size: 1rem;
      font-weight: 500;
      color: $white;

      &:before {
        content: "";
        display: block;
        height: 1.111rem;
        width: 1.111rem;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23F0F1F4' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m14 8-4 4 4 4'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
    }

    .sub-menu-container-box {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 200;
      background-color: $black;
      transform: translate(100%, 0);
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      transition: transform 200ms ease-out;
      padding: 1rem;
      display: flex;
      flex-direction: column;

      &.opened {
        transform: translate(0%, 0);
        top: 3.2rem;
      }
    }

    ul.sub-menu {
      padding: 0;
      overflow-y: auto;
      overflow-x: hidden;
      opacity: 1;
      height: 100%;
      // max-height: 70%;
      max-height: 65%;

      a {
        padding: 0;
        margin: 0;
      }

    }

    .category-name {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      text-align: start;
      position: relative;
      font-size: 1rem;
      opacity: 1;
      color: $black;
      font-weight: 500;
      line-height: 1.221rem;
      padding: 0.75rem 1rem;
      transition: 0.4s all;
      border-radius: 0.5rem;
      overflow: hidden;

      .menu-icon {
        filter: brightness(0) saturate(100%) invert(84%) sepia(90%) saturate(482%) hue-rotate(359deg) brightness(108%) contrast(104%) !important;
      }

      .menu-item__name {
        color: $yellow;
      }
    }
  }

  .menu-item__name {
    @include media(mobile) {
      font-size: 1rem;
    }
  }

  .menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }

  .menu-item__name {
    color: $white;
  }


}