// Fonts
$main_font: "Gilroy", sans-serif;

// Colors
$white: #ffffff;
$yellow:#F9FF0F;
$black:  #0F0F0F;
$gray: #D8D9DB;
$gray_2: #414142;
$gray_3: #737475;
$blue: #143cda;
$border: #e5e5e5;
$border_2: #A6A6A8;
$border_3: #f6f8fa;
$search_bg: #e7e7e7;

// Other
$margin_bottom: 4rem;
$margin_bottom_mob: 1.875rem;

$border_radius: 0.75rem;
