// Fonts
$main_font: "Gilroy", sans-serif;

// Colors
$white: #ffffff;
$yellow: #f9ff0f;
$black: #0f0f0f;
$gray: #d8d9db;
$gray_2: #414142;
$gray_3: #737475;
$blue: #143cda;
$border: #e5e5e5;
$border_2: #a6a6a8;
$border_3: #f6f8fa;
$search_bg: #e7e7e7;
$blue_gray: #f7f8f9;
$new_gray: #8c8d8f;
$orange: #ffbb00;
$red: #ff0000;
$light_blue: #005de0;

// Other
$margin_bottom: 4rem;
$margin_bottom_mob: 1.875rem;

$border_radius: 0.75rem;
