// Fonts
$main_font: "Helvetica Neue", sans-serif;

// Colors
$white: #ffffff;
$black: #071424;
$gray: #edf1f5;
$gray_2: #818181;
$gray_3: #636f92;
$red: #ff0000;
$blue: #143cda;
$light_blue: #005de0;
$border: #e5e5e5;
$border_2: #e3e8ee;
$border_3: #f6f8fa;
$search_bg: #e7e7e7;
$orange: #ffbb00;

// Other
$margin_bottom: 4rem;
$margin_bottom_mob: 1.875rem;

$border_radius: 0.75rem;
